@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {

    --clr-verydarkblue:hsl(238, 29%, 16%);
    --clr-softred:hsl(14, 88%, 65%);
    --clr-gradient-softviolet:hsl(273, 75%, 66%);
    --clr-gradient-softblue:hsl(240, 73%, 65%);
    --clr-text-verydarkblue:hsl(237, 12%, 33%);
    --clr-text-darkgrayblue:hsl(240, 6%, 50%);
    --clr-divider:hsl(240, 5%, 91%);

}


/* typogrpahy */

#title {
    text-align: center;
}

h1 {
    font-weight: 700;
    line-height: 40px;
    font-size: 2rem;
    margin-bottom: 1.875rem;
    color: var(--clr-verydarkblue)
}

.text-content p {
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 16px;
    transition: 200ms;
}

.active .ques:hover {
    color:var(--clr-softred);
}
.ques {
    color: var(--clr-text-darkgrayblue)
}

.ques:hover {
    color:var(--clr-softred)
}

.ans {
    color: var(--clr-text-darkgrayblue)
}



body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.accordion-container {
    margin: auto;
}

.content-wrapper {
    background-color: white;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    position: relative;
    padding: 0 1.5rem;
}

.img-container {
    display: block;
    width: min-content; 
    position: absolute;
    min-width: 237px;
    min-height: 180px;
    top: -105px;
    left: 50%;
    transform: translateX(-50%);
}


.img-background {
    display: block;
    position: absolute;
    top: 55%;
    left: 0%;
    margin: 0 auto;
}

.text-content {
    width: 279px;
    margin-top: 132px;
    margin-bottom: 48px;
}

.panel {
    border-bottom: 1px solid #E8E8EA;
}

.question {
    padding: 1rem 0;
    width: 100%;
    position: relative;
   
   
}

.answer {
    padding-top: 0.75rem;
    overflow: hidden;  
    transition: .5s;
    height: 0px;
    width: 100%;
}

.active .question::after {
    top: 50%; /* add this line */
    transform: translateY(-30%) rotate(180deg); /* add this line */
}


.question::after {
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    right: 5px;
    top: 30%;    
}

.active .answer {
    border-bottom: 1px solid var(--clr-divider);
    height: 75px;
}

.active .question p {
    font-weight: 700;
    color: black;
   
}
.active .question {
     border: none;
}
.text-content .question:hover {
    color:var(--clr-softred);
    cursor: pointer;
}
footer {
    font-size: 0.7rem;
}

footer a {
    text-decoration: none;
    color: var(--clr-softred);
}


@media screen and (min-width: 1000px){
    .content-wrapper {
        grid-template-columns: 1fr 1fr;
       
    }
    .accordion-container {
        width: 920px;
        height: 509px;
    }
    .text-content {
        grid-column: 2 / 2;
    }
    #title {
        text-align: left;
    }
    .text-content p {
        font-size: 0.875rem;
    }
    .text-content {
        width: 350px;
        margin-top:65px;
        margin-bottom: 83px;
    }
    .img-container {
    top: 13%;
    left: 16%;
    
    }
    .img-background {
       
        width: 520px;
        top: 0px;
    }
    .box {
        position: absolute;
        right: 60%;
        top: 30%;

    }
    footer {
        margin-top: 100px;
        font-size: 0.7rem;
    }
    
}